# Python
venv/
__pycache__/
*.pyc

# HuggingFace / Models
model_cache/
.cache/

# Vector DB / RAG
doc_db/
chroma_db/

# Logs
logs/

# Env
.env
# Ignore chat history
chat_history/chat_history.json

# Ignore sensitive documents
